$primary: red;
$black: #333;
$grey: #555;
$grey2: #ddd;
$grey3: #ccc;
$grey4: #999;
$grey5: #F4F4F4;
$grey6: #666;
$white: #fff;

* {
    font-size: 14px;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}



